body,html {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	margin: 0px;
	
}

a {
	text-decoration: none;
}

/* Navbar */

/* Makes the navbar a grid so I can position the items easy on the left and right */
nav {
	background-color: #333;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
	height: 5vh;
	padding-left: 10%;
	padding-right: 10%;
}
/* Makes the color of the logo text white and makes it nice and centered with some room in between */
.logo{
	color: white;
	display: flex;
	align-items: center;
}
/* Turning the svg from the logo into white by using filter */
nav img {
	filter: brightness(100%) invert(100%);
	height: 2vh;
	padding-right: 0.5rem;
}
/* Using a list for the navbar items but without the dots by removing the list style */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	text-align: center;
	display: grid;
	justify-content: space-between;
}
/* Using display inline flex so it will be one line and instead of using float */
li {
	grid-area: 1;
	width: fit-content;
	display: flex;
	align-items: center;
}
/* aligns items and makes the text white */
li a {
	display: flex;
	color: white;
	text-align: center;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	height: 100%;
	justify-content: center;
	align-items: center;
}
/* Adding a hover color change and exclude .active and .logo */
li a:hover:not(.active, .logo) {
	background-color: #111;
}

/* Shows the link with a different color on the active page */
.active {
	background-color: #666;
}

/* Header */

/* Sets a height of 90vh to and fills it up with a banner image */
header{
	display: flex;
	background-image: url("../img/bg.png");
	height: 90vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
	z-index: 0;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-shadow: 0px 5px 10px #3333338a;
}
/* Sets color and size of the text inside the header */
.headerText {
	color: white;
	font-size: 32px;
}

/* Main section */

/* Adding padding with rem (using rem instead of px is my prefrence because its scales much better) */
main {
	padding-top: 4rem;
}
/* Shows the tile of the page with a bigger font size */
.titlePage {
	display: flex;
    justify-content: center;
	font-size: 50px;
}

/* Cards */

/* Cards is a sections with multiple cards iside it, it is a grid with an auto-fit that makes it more responsive */
.cards {
	max-width: 80vw;
    margin: 15rem auto;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* sets a height for the card */
.cards a {
	height: 30rem;
	
}
/* A single card with a rounded edge and a set height to fill the height */
.card {
	background-color: #fff;
	color: #000;
	height: 100%;
	width: 28rem;
	box-shadow: 5px 8px 10px #33333371;
	border-radius: 5px;
}

.card span {
	text-decoration: none;
	color: #000;
}

.cardButton {
	padding: 0.4rem;
    border-radius: 5px;
    border: 0px;
    background-color: #333;
    color: #fff;
	cursor: pointer;
}

.backButton {
	margin-left: 3rem;
}

/* Sets the image of the card to contain the image so its always readable and a set height */
.cardHead {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 14rem;
	background-color: #f3f3f3;
	border-radius: 0px 0px 5px 5px;
	overflow: hidden;
}
/* Makes the card a bit smaller when hovering over it and made it a bit smoother by using a transition */
.card:hover {
	transform: scale(1.1);
	transition: all .5s;
}

.card:hover .circleSolution img {
	transform: scale(1.3);
	transition: all .8s;
	filter: blur(.3rem);
}
/* Custom project image specifier to add the image on the circle solution project */
.circleSolution img {
	height: 100%;
    width: 100%;
    object-fit: contain;
}
/* Sets a margin for the text so it look a bit better */
.cardText {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.cardText h2 {
	font-size: 2rem;
}

.cardText p {
	font-size: 1rem;
}

/* Assignments */

/* This is a section for assignments */
.assignments {
	background-color: #fff;
	color: #000;
	display: block;
	align-items: center;
	padding: 2rem 5rem 2rem 5rem;
	margin: 3rem 5rem 3rem 5rem;
	box-shadow: 5px 8px 10px #33333371;
	border: 0.1rem solid #dfdfdfa1;
	border-radius: 5px;
}
/* Gives more room between assignments */
.assignments p {
	padding: 0.5rem;
}
/* Gives room between the social buttons and makes them a bit smaller */
.socialAssignment {
	width: 3rem;
	padding-right: 0.5rem;
}

/* Contact */

.titleContact {
	display: flex;
    justify-content: center;
	font-size: 50px;
	color: #fff;
}

form {
	display: grid;
	grid-template-columns: 6.5rem auto;
	grid-gap: 15px;
	max-width: 30vw;
    width: 100%;
	padding: 3rem;
	border-radius: 1rem;
	color: #fff;
  }

  hr {
	margin: 3rem 0rem;
    width: 10rem;
  }

.submit {
	color: white;
} 

input, textarea, select {
	border-radius: 0.2rem; 
	padding: 0.5rem;
	background-color: #00000000;
	box-shadow: 3px 5px 10px #33333371;
	border: 1px solid #00000010;
}

input::placeholder, textarea::placeholder {
	color: #ffffff7e;
}
  
.contactForm {
	justify-content: center;
    padding: 15rem 5rem 20rem 5rem;
    display: flex;
    gap: 3rem;
    background-color: #666;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.submit {
	margin-left: auto;
}

/* Footer */

/* Sets a background color and makes it into a grid */
footer {
	bottom: 0;
    width: 100%;
    position: relative;
	background-color: #333;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0rem;
	grid-row-gap: 0rem;
}
/* Makes the grid size for the social buttons and a seperation border to seperate the items	 */
.footerSocials { 
	grid-area: 1 / 1 / 5 / 2; 
	align-items: center;
    display: flex;
	gap: 1rem;
	justify-content: center;
	border-right: 0.3rem solid rgba(255, 255, 255, 0.25);
}
/* Makes the icons white instead of the default color */
.footerSocials a i {
	color: white;
}
/* Gives the buttons a little animation while hovering */
.socialButton:hover {
	animation: shake 0.82s;
  }
/* An animation named shake that functions with keyframes   */
@keyframes shake {
10%, 90% {
	transform: translate3d(-0.1rem, 0, 0);
}
20%, 80% {
	transform: translate3d(0.2rem, 0, 0);
}

30%, 50%, 70% {
	transform: translate3d(-0.2rem, 0, 0);
}
40%, 60% {
	transform: translate3d(0.2rem, 0, 0);
}
}
/* Sets the grid size for the footer text section and makes the text white and centered */
.footerText { 
	align-items: center;
    display: flex;
	color: white;
	justify-content: center;
	grid-area: 1 / 4 / 5 / 7; 
}

#cityForm {
	display: flex;
    flex-direction: column;
    padding: 0px;
	color: #000;
}

#feedbackForm {
	display: flex;
	justify-content: flex-start;
    flex-direction: column;
    padding: 0px;
	color: #000;
}

#feedbackForm input[type=checkbox] {
	width: 10px;
	box-shadow: none;
}

.max-width{
	max-width: 100%;
}

.upload {
	width: 50px;
    height: 50px;
    object-fit: cover;
}

.assignments ul {
	display: flex;
    justify-content: space-between;
    flex-direction: column;
}