body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.logo{
	color: white;
	display: flex;
	gap: 2%;
	align-items: center;
	text-decoration: none;
}

nav {
	background-color: #333;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
	height: 3vh;
	padding-left: 10%;
	padding-right: 10%;
}

nav img {
	filter: brightness(100%) invert(100%);
	height: 2vh;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #666;
}

header{
	display: flex;
	background-image: url("../img/bg.png");
	height: 90vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
	z-index: 0;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-shadow: 0px 5px 10px #3333338a;
}

.headerText {
	color: white;
	font-size: 32px;
}


main {
	padding-top: 4rem;
	padding-bottom: 8rem;
}

main h1 {
	display: flex;
    justify-content: center;
	padding-bottom: 4rem;
	font-size: 50px;
}

.cards {
	max-width: 80vw;
	margin: 0 auto;
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cards a{
	text-decoration: none;
	height: 25rem;
}

.card {
	background-color: #666;
	color: white;
	height: 100%;
	box-shadow: 5px 8px 10px #33333371;
	border-radius: 5px;
}

.cardHead {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 150px;
	padding: 10px;
	border: 12px solid #666;
	background-color: white;
	border-radius: 10px;
}

.card:hover {
	transform: scale(0.95);
	transition: all .5s;
}

.circleSolution{
	background-image: url("../img/circleSolutions/logo.png");
}

hr {
	border: 1px solid rgba(255, 255, 255, 0.75);
	border-radius: 5px;
}

.cardText {
	margin: 10px;
}

footer {
	height: 80px;
	background-color: #333;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
	
.footerSocials { 
	grid-area: 1 / 1 / 5 / 2; 
	align-items: center;
    display: flex;
	gap: 1rem;
	padding-left: 28%;
	border-right: 3px solid rgba(255, 255, 255, 0.25);
}

.footerSocials a i {
	color: white;
}

.socialButton:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
  }
  
  @keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
	
	30%, 50%, 70% {
	  transform: translate3d(-2px, 0, 0);
	}
	40%, 60% {
	  transform: translate3d(2px, 0, 0);
  }
  }


.footerText { 
	align-items: center;
    display: flex;
	color: white;
	grid-area: 1 / 4 / 5 / 7; 
}
